.jumbotron {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://source.unsplash.com/1920x1080/?books");
  background-size: cover;
}

.text-branding {
  font-family: 'Raleway', sans-serif;
  font-size: 136px;
}

.text-branding-small {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.text-gradient {
  color: transparent;
  background: linear-gradient(133deg, rgb(13, 221, 236) 0%, rgb(21, 33, 197) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.btn-gradient {
  border: none;
  background-image: linear-gradient(133deg, rgb(14, 197, 231) 0%, rgb(17, 119, 215) 100%);
}

.text-shadow {
  text-shadow: 2px 2px 8px black;
}

.mb-large {
  margin-bottom: 6rem !important;
}

.img-profile {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-right: 20px;
}

.text-gradient-muted {
  color: transparent;
  background: linear-gradient(133deg, rgb(14, 197, 231) 0%, rgb(17, 119, 215) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}
/*
@media (max-width: 580px) {
  .text-branding {
    font-size: 20vw !important;
  }
}

@media (min-width: 580px) and (max-width: 770px) {
  .text-branding {
    font-size: 15vw !important;
  }
}
*/
